// Rofi runtime config, RASI format (see rofi-theme(5)).
// Path: ~/.config/rofi/config.rasi.

configuration {
    modi: "window,run,combi,filebrowser";
    matching: "fuzzy";
    sorting-method: "fzf";
    // Unbind conflicts.
    kb-remove-to-eol: "";
    kb-row-tab: "";
    // Custom binds.
    kb-row-up: "Control+k";
    kb-row-down: "Control+j";
    kb-row-select: "Tab";
    kb-accept-entry: "Return";
    kb-accept-custom: "Control+Return";
}
