; path: ~/.gitconfig
[user]
    name = Noah D. Ortiz
    email = abstrnoah@brumal.net
    signingKey = A99804C0F82B99C88DAF2CFD39436096D08807E8
[merge]
    conflict = diff3
[push]
    default = simple
[pull]
    ff = only
[init]
    defaultBranch = "main"
[tag]
    gpgSign = true
[include]
    path = ~/.site.gitconfig
